BREVO_API_KEY=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_PUBLIC_DOMAIN=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
GEMINI_API_KEY=
OLLAMA_MODEL=
OLLAMA_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_GEMINI_API_KEY=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=